html{
    scroll-behavior: smooth;  /* To make scrolling smooth */
}

ul.a {
  list-style-position: outside;    /* To keep bullet point outside text area */
  text-align: left;
}


body{
  background-color: powderblue;
  }

.bg-4 { 
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
  }

  .bg-3 { 
  background-color: #ffffff; /* White */
  color: #555555;
  }

  mark {
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    color: black;
    background-color: #FFF200;;
  }

.btn-whatsapp {
  display:block;
  width:80px;
  height:80px;
  /* color:#fff; */
  position: fixed;
  right:10px;
  bottom:0;
  border-radius:50%;
  line-height:80px;
  text-align:center;
  z-index:999;
}

.btn-instagram {
  display:block;
  width:58px;
  height:58px;
  position: fixed;
  right:20px;
  bottom:100px;
  line-height:50px;
  text-align:center;
  z-index:998;
}
